---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.article__content {
  p.success {
    padding: .5rem 1rem;
    background-color: rgba(#5baa34, .1);
    border: 1px solid #5baa34;
    border-radius: .4rem;
  }

  p.info {
    padding: .5rem 1rem;
    background-color: rgba(#1c7cd4, .1);
    border: 1px solid #1c7cd4;
    border-radius: .4rem;
  }

  p.warning {
    padding: .5rem 1rem;
    background-color: rgba(#c9771f, .1);
    border: 1px solid #c9771f;
    border-radius: .4rem;
  }

  p.error {
    padding: .5rem 1rem;
    background-color: rgba(#da3d45, .1);
    border: 1px solid #da3d45;
    border-radius: .4rem;
  }
}
